.ÜB{
    
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif serif;
    font-size: xx-large;

    
}

.Top{
    border-style: solid;
    align-items: space ;
    margin: 0px;
    padding: 10px;
    background-color: purple;
    
}

button{
    background-color:Black;
    color: purple;
    font-size: xx-large;
    display: flex
    ;
}