#background{
    width: 600px;
    height: 400px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header{
    padding: 10px;
    width: 280px;
    height: 110px;
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
}

#btn1 {
    width: 120px ;
    height: 30px;
    background-color: brown;
}

#output {
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: white;
    
}